<nav id="navbar">
  <a href="{{ url_for('index') }}" class="nav-logo">
    <div class="logo-icon">
        <img src="{{ url_for('static' , filename='img/logo.png') }}" alt="logo">
    </div>
  </a>

  <ul class="nav-links">
    <li><a href="{{ url_for('index') }}" class="active">Accueil</a></li>
    <li><a href="{{ url_for('annonces') }}">Annonces</a></li>
  </ul>

  <a href="{{ url_for('login') }}" class="btn btn-primary nav-cta">Se connecter</a>

  <div class="hamburger" id="hamburger" onclick="toggleNav()">
    <span></span><span></span><span></span>
  </div>
</nav>