<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset=UTF-8>
<title>Nouvelle Annonce</title>
</head>
<body>
   <form action="/annonces/new">
    <input type="text" name="" placeholder="objet">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="location" placeholder="location">
    <input type="email" name="email" placeholder="Contact (email)">
    <input type="submit" value="Ajouter"><br>
   </form>
   <form action="/">
    <input type="submit" value="Annuler">
   </form>
</body>