<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset=UTF-8>
    <title>
      page de création d'utilisateur
    </title>
  </head>

  <body>
    <h1>Nouveau compte utilisateur</h1>
    <form method="POST" action="/register">
      <input type="text" name="username" placeholder="Nom d'utilisateur">
      <input type = "email" name = "email" placeholder="Adresse e-mail">
      <input type="password" name="password" placeholder="Mot de passe">
      <input type="submit" value="créer un compte">
    </form>
  </body>

</html>